form {


}

.titleinput {
    padding: 0.52em;
    margin: 0.5em;
    color: #8e95c3;
    font-weight: bold;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid #8e95c3;;
    border-radius: 6px;
    width: 250px;
}


