html {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    background-image: url('./app/img/img.jpg');
    height: 100%;
    max-width: 100%;
    background-repeat  : no-repeat;
    background-position: center;
    background-size: cover;
    }

#root {
    height: 100%;
    margin-top: 20px;
    }


.main {
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    }


button {
    font-weight: bold;
    color:#f1f1f2;
    background: #8e95c3;;
    border: 2px solid #8e95c3;;
    border-radius: 6px;
    padding: 5px 20px;
    margin: 5px;
   }


button:hover {
    background-color:#FFB6C1;
    color: #7f7580;
    box-shadow: 0 0 10px #ffc0cb;
    border: 2px solid transparent;
}

.add {
    width: 200px;

}