form {
    margin-top: 20px;

}

.titleinput {
    padding: 0.499em;
    margin: 0.5em;
    color: #003087;
    background: transparent;
    border: 1px solid #003087;
    border-radius: 6px;
    width: 200px;
}


