
.container {
    background-color: transparent;
    width: 53%;
    margin: auto;
    text-align: right;
}

.task {
    background-color: #ffffff;
    color: #000;
    margin: 20px;
    position: relative;
}

.title {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    background: #ffcc80;
    border-radius: 6px;
    padding: 0.30em;
    margin: 0.5em;
    width: 17%;
    border: 1px solid transparent;
    position:absolute;
    left: 610px;
    font-size:0.98em;
}

.title.checked {
    background: #b3de81;
}