
.container {
    background-color: transparent;
    width: 50%;
    margin: auto;
    text-align: right;
}

.task {
    background-color: #ffffff;
    color: #000;
    margin: 20px;
}

.title {
    font-weight: bold;
    color: #fff;
    background: #fdd475;
    border-radius: 6px;
    padding: 0.29em;
    margin: 0.5em;
    width: 35%;
    border: 1px solid #fff;
}

.title.checked {
    background: #b3de81;
}